<?xml version="1.0" encoding="utf-8"?>
<!--
 * Copyright (c) 2016, 2023 Qualcomm Technologies, Inc.
 * All Rights Reserved.
 * Confidential and Proprietary - Qualcomm Technologies, Inc.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lovelyzzkei.qnnSkeleton">

    <uses-feature android:name="android.hardware.camera.any"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="33"/>
    <uses-permission android:name="android.hardware.camera2.full"/>
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.ar" android:required="true" />

    <uses-sdk android:minSdkVersion="21"
        android:targetSdkVersion="33"
        android:maxSdkVersion="33" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:largeHeap="true">
        <activity android:name="com.lovelyzzkei.qnnSkeleton.MainActivity"
                android:screenOrientation="landscape"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:windowSoftInputMode="adjustResize"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ARActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize"></activity>


        <uses-library android:name="libOpenCL.so"
                android:required="false"/>
        <uses-library android:name="libcdsprpc.so"
                android:required="false"/>

        <meta-data android:name="com.google.ar.core" android:value="required"/>

        <!-- <service
            android:name=".ModelExtractionService"
            android:exported="false">
        </service>
        <provider
            android:name=".FileProvider"
            android:authorities="com.qualcomm.qti.snpe.imageclassifiers.FileProvider"
            android:exported="false">
        </provider> -->
    </application>

</manifest>
